dotcode/dotcode.tests/Service References/CompilerService/CompilerService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50087/CompilerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/dotcode.lib.common" />
  <xs:import schemaLocation="http://localhost:50087/CompilerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/dotcode.lib.common.Compiler" />
  <xs:element name="Compile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/dotcode.lib.common" minOccurs="0" name="compilerInput" nillable="true" type="q1:CompilerInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/dotcode.lib.common.Compiler" minOccurs="0" name="CompileResult" nillable="true" type="q2:CompilerOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>