dotcode/dotcode.tests/Service References/CompilerService/CompilerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CompilerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50087/CompilerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50087/CompilerService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:50087/CompilerService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/CompilerService.Fault" />
      <xsd:import schemaLocation="http://localhost:50087/CompilerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50087/CompilerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/dotcode.lib.common" />
      <xsd:import schemaLocation="http://localhost:50087/CompilerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/dotcode.lib.common.Compiler" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICompilerService_Compile_InputMessage">
    <wsdl:part name="parameters" element="tns:Compile" />
  </wsdl:message>
  <wsdl:message name="ICompilerService_Compile_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompileResponse" />
  </wsdl:message>
  <wsdl:message name="ICompilerService_Compile_ArgumentNullExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="detail" element="q1:ArgumentNullException" />
  </wsdl:message>
  <wsdl:message name="ICompilerService_Compile_UnsupportedLanguageFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/CompilerService.Fault" name="detail" element="q2:UnsupportedLanguageFaultContract" />
  </wsdl:message>
  <wsdl:portType name="ICompilerService">
    <wsdl:operation name="Compile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompilerService/Compile" message="tns:ICompilerService_Compile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompilerService/CompileResponse" message="tns:ICompilerService_Compile_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICompilerService/CompileArgumentNullExceptionFault" name="ArgumentNullExceptionFault" message="tns:ICompilerService_Compile_ArgumentNullExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICompilerService/CompileUnsupportedLanguageFaultContractFault" name="UnsupportedLanguageFaultContractFault" message="tns:ICompilerService_Compile_UnsupportedLanguageFaultContractFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICompilerService" type="tns:ICompilerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Compile">
      <soap:operation soapAction="http://tempuri.org/ICompilerService/Compile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentNullExceptionFault">
        <soap:fault use="literal" name="ArgumentNullExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnsupportedLanguageFaultContractFault">
        <soap:fault use="literal" name="UnsupportedLanguageFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CompilerService">
    <wsdl:port name="BasicHttpBinding_ICompilerService" binding="tns:BasicHttpBinding_ICompilerService">
      <soap:address location="http://localhost:50087/CompilerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>