dotcode/dotcode/Service References/CompilerService/CompilerService63.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/dotcode.lib.common.Compiler" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/dotcode.lib.common.Compiler" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49194/CompilerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="CompilerOutput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CompilerOutputBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CompiledAssembly" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompilerOutput" nillable="true" type="tns:CompilerOutput" />
  <xs:complexType name="CompilerOutputBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompilerErrors" nillable="true" type="tns:ArrayOfCompilerError" />
      <xs:element minOccurs="0" name="HasErrors" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasWarnings" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompilerOutputBase" nillable="true" type="tns:CompilerOutputBase" />
  <xs:complexType name="ArrayOfCompilerError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompilerError" nillable="true" type="tns:CompilerError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompilerError" nillable="true" type="tns:ArrayOfCompilerError" />
  <xs:complexType name="CompilerError">
    <xs:sequence>
      <xs:element minOccurs="0" name="Column" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsWarning" type="xs:boolean" />
      <xs:element minOccurs="0" name="Line" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompilerError" nillable="true" type="tns:CompilerError" />
</xs:schema>