dotcode/dotcode/Service References/CompilerService/CompilerService64.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/dotcode.lib.common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/dotcode.lib.common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49194/CompilerService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CompilerInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeUnit" nillable="true" type="tns:CodeUnitDto" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="References" nillable="true" type="q1:ArrayOfguid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompilerInput" nillable="true" type="tns:CompilerInput" />
  <xs:complexType name="CodeUnitDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Language" nillable="true" type="tns:Language" />
      <xs:element minOccurs="0" name="LastEdit" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CodeUnitDto" nillable="true" type="tns:CodeUnitDto" />
  <xs:complexType name="Language">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Language" nillable="true" type="tns:Language" />
</xs:schema>